@charset "UTF-8";

#allDiv {
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 100px;
}

.subTitle {
	color: gray;
	font-size: 15px;
	font-weight: bold;
	margin-left: 10px;
}

.explain {
	font-size: 20px;
	font-weight: bolder;
}

.explainDiv {
	width:150px;
	vertical-align:top;
}

.necessary {
	font-size: 15px;
	color: red;
}

.radio {
	width: 500px;
	font-size: 20px;
	font-weight: 500;
}

.input {
	height: 30px;
	width: 500px;
	padding-left : 10px;
}

.sort {
	margin : 30px;
}

.salary {
	width:130px;
	height:30px;
	font-size:15px;
	margin-left:10px;
	margin-right:10px;
	text-align:right;
	padding-right:10px;
}

.space {
	margin-left:10px;
	margin-right:10px;
}

.check-text	{
	font-size: 20px;
	font-weight: 500;
	margin-right: 20px;
}

#td-vertical {
	vertical-align: top;
	padding-top: 5px;
}

#inwon {
  width:50px;
  font-size:20px;
}

hr {
	margin-top: 10px;
}

input {
	font-size : 20px;
}

input[type=radio] {
	width:16px;
	height:16px;
	margin-right:5px;
}

input[type=date] {
	width:200px;
	height:30px;
}

input[type=checkbox] {
	width:16px;
	height:16px;
	margin-right:5px;
}