@charset "UTF-8";


.menu {
	color:black;
	padding: 10px;
	margin: 5px;
	font-size:16px;
	/* border:1px solid gray; */
}

.menu:hover {
	color:black;
}

.underline:hover {
	border-bottom:2px solid gray;
}

.area {
	width: 300px !important;
	height: 400px;
	margin:30px !important;
	text-align:center;
	border-radius: 10px;
	background-color:#f2f58b;
}

.loginInfo{
	display:none; float:right; position:fixed; top:50px; right:40px; z-index:98;
}

.loginMenu{
	text-align:center;
	padding:10px;
	margin-bottom:10px;
}

@media screen and (max-width: 768px){
	.underline{
		display:none;
	}
	.area{
		margin-top: 50px !important;
		width: 500px !important;
	}
	#pers{
		color:red;
		display:none;
	}
	#comp{
		display:none;
	}
	.loginInfo{
		right:0px;
	}
	.siteInfo{
		width:100%;
	}
	.middleArea{
		width:100%;
		padding-left:5px;
		padding-right:5px;
	}
}

.infoContents {
	font-size:17px;
	color:gray;
	height: 150px;
}

.itduck {
	width:100px;
	padding:0px;
	margin:0px;
	margin-top:-1px;
	/* margin-bottom:-30px; */
}





